body {
    font-size: 16px;
    overflow: hidden;
    background-color: #000;
    color: #C0C0C0;
    font-weight: bold;
    font-family: 微软雅黑;
}
#uploader {
    display: none;
}
#screen {
    position: fixed;
    left: 0px;
    top: 0px;
}
#location {
    display: inline-block;
}
#input {
    font-size: 16px;
    overflow: hidden;
    background-color: #000;
    color: #C0C0C0;
    font-weight: bold;
    border: 0px;
    outline: none;
}
.fs-url {
    color: #A6E22E;
    display: inline-block;
}
.help-list {
    td {
        width: 100px;
    }
}
.help-detial {
    .help-example {
        width: 300px;
        padding-left: 10px;
        color: #A6E22E;
    }
    .help-info {

    }
}
.dir-table {
    .dir-size {
        width: 100px;
        text-align: right;
        padding-right: 10px;
    }
    .dir-type {
        padding-left: 10px;
    }
}
@import "edit.less";