body {
    font-size: 16px;
    overflow: hidden;
    background-color: #000;
    color: #C0C0C0;
    font-weight: bold;
    font-family: 微软雅黑;
}
#screen {
    position: fixed;
    left: 0px;
    top: 0px;
}
#location {
    display: inline-block;
}
#input {
    font-size: 16px;
    overflow: hidden;
    background-color: #000;
    color: #C0C0C0;
    font-weight: bold;
    border: 0px;
    outline: none;
}
.fs-url {
    color: #A6E22E;
}
.help-list td {
    width: 100px;
}
.dir-table .dir-size {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.dir-table .dir-type {
    padding-left: 10px;
}
@import "edit.less";